body {
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  width: 100%;
  margin: 0;
  overflow-x: hidden;
}
a {
  color: #aaa;
  text-decoration: none;
  font-weight: 400;
}
a:hover {
  color: #222;
}
.container {
  overflow-x: hidden;
  box-sizing: content-box;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.container .left-panel {
  flex: 0 0 240px;
  padding: 40px;
  box-sizing: border-box;
}
.container .left-panel .left-panel-inner .title {
  font-size: 25px;
  padding-bottom: 40px;
}
.container .left-panel .left-panel-inner .title .fullname {
  font-weight: 500;
}
.container .left-panel .left-panel-inner .nav {
  padding-bottom: 20px;
}
.container .left-panel .left-panel-inner .nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.container .left-panel .left-panel-inner .nav ul li {
  list-style: none;
  padding-bottom: 16px;
}
.container .left-panel .left-panel-inner .nav ul li a {
  font-size: 16px;
}
.container .left-panel .left-panel-inner .profile img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin-left: -80px;
  object-fit: cover;
}
.container .mid-panel {
  flex: 1 1 0;
  box-sizing: border-box;
  padding: 104px 100px 40px 0;
}
.container .mid-panel .introduction {
  font-size: 14px;
  line-height: 1.7em;
}
.container .mid-panel .introduction a {
  color: #2197ce;
  font-weight: 500;
}
.container .mid-panel .section:first-child {
  padding-top: 0;
}
.container .mid-panel .section {
  padding-top: 30px;
}
.container .mid-panel .section .title {
  font-size: 21px;
  color: #444;
  margin-bottom: 8px;
}
.container .mid-panel .section .content {
  font-size: 14px;
  line-height: 1.8em;
}
.container .mid-panel .section .content a {
  color: #2197ce;
  font-weight: 500;
}
.container .mid-panel .section ul {
  margin: 0;
  padding: 0;
}
.container .mid-panel .section ul li {
  margin-top: 16px;
  list-style: none;
  font-size: 14px;
}
.container .mid-panel .section ul li .date {
  display: inline-block;
  margin-right: 8px;
  font-weight: 600;
  color: #aaa;
}
.container .mid-panel .section ul li .description {
  display: inline-block;
}
.container .mid-panel .section ul.with-bullets {
  margin: 16px;
  padding: 0;
}
.container .mid-panel .section ul.with-bullets li {
  list-style-type: circle;
}
.container .publications .bib-item .title {
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  color: #555;
}
.container .publications .bib-item .title .tag {
  display: inline-block;
  border-radius: 4px;
  vertical-align: middle;
  border: 1px solid #2197ce;
  color: #2197ce;
  font-size: 10px;
  font-weight: 400;
  margin-left: 8px;
  padding: 1px 3px;
}
.container .publications .bib-item .authors {
  display: block;
  font-weight: 300;
  font-size: 12px;
  color: #222;
}
.container .publications .bib-item .authors em {
  font-style: normal;
  font-weight: 500;
}
.container .publications .bib-item .description {
  display: block;
  font-weight: 300;
  font-size: 12px;
  font-style: italic;
  color: #222;
}
.container .project_container .project {
  position: relative;
  float: left;
  width: 500px;
  max-width: 100%;
  height: auto;
  padding: 5px;
  margin: 0px 35px 20px 0px;
  background-color: #fff;
  display: flex;
  flex-direction: row;
}
.container .project_container .project .pr_image {
  flex: 0 0 200px;
  width: 200px;
  height: 130px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.container .project_container .project .pr_desc {
  flex: 1 1 auto;
  padding: 0 0 0 16px;
  background-color: #fff;
  color: #000;
  z-index: 5;
}
.container .project_container .project .pr_title {
  margin: 0px;
  font-size: 17px;
  font-weight: 450;
  cursor: pointer;
}
.container .project_container .project .pr_title a {
  text-decoration: none;
  color: inherit;
}
.container .project_container .project .pr_title .pr_date {
  margin-left: 8px;
  font-size: 12px;
  font-weight: 300;
  font-style: italic;
}
.container .project_container .project .pr_subtitle {
  margin-top: 2px;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.6em;
}
.container .project_container .project .pr_attachments {
  margin-top: 6px;
}
.container .project_container .project .pr_attachments a {
  margin-right: 5px;
  font-size: 10px;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
  padding: 2px 5px 2px 5px;
  background-color: #bbb;
  border-radius: 2px;
}
iframe.googleCalendar {
  margin-top: 20px;
  width: 100%;
  height: 600px;
  max-width: 800px;
}
@media screen and (max-width: 800px) {
  .container {
    width: 100%;
    display: block;
    flex: none;
  }
  .container .left-panel {
    display: block;
    width: 100%;
    padding-bottom: 0px;
  }
  .container .left-panel div.nav ul li {
    display: inline-block;
    margin-right: 30px;
  }
  .container .left-panel .profile {
    position: absolute;
    top: 30px;
    right: 20px;
  }
  .container .left-panel .profile img {
    width: 60px !important;
    height: 60px !important;
  }
  .container .mid-panel {
    display: block;
    width: 100%;
    padding: 0px 100px 40px 40px;
  }
}
